**/node_modules/
**/logs
*.log
npm-debug.log*

**/dist/
**/build/
**/.next/
**/out/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

**/.env
**/.env.*
!.env.example

.env
.env.local
.env_next
.env.development
.env.production
.env.test

frontend/.env.local
frontend/.env_next
backend/.env
backend/.env.local
backend/node_modules/